/*头部*/
/* 自适应 */
@media (max-width: 320px){html,body{font-size: 14px!important;}}
.header{
	background: #fff;
	border-bottom:1px solid #cecece;
	text-align: center;
	position: relative;
}
.header h1{
	height:2.75rem;
	font-size: 0.9375rem;
	line-height: 2.75rem;
}
.back{
	position: absolute;
	left: 0;
	top: 0;
	width:15%;
	height:100%;
	background:url(../../imgs/oilCard/back.png) no-repeat center;
	background-size:20% ;
}
/* 内容 */
.content{height: 100%;background: #fff;}
.content .topM{background: #fff; padding: 1.25rem 1.25rem 0;width: 100%;box-sizing: border-box;}
.content .topM ul{margin-top: 1rem;width: 100%;height: auto;overflow: hidden;}
.content .topM li{width: 100%;float: left;width: 48%;margin-right: 4%;margin-bottom: 1.25rem;}
.content .topM li:nth-child(2n+2){margin-right: 0;}
.content .topM li i{
    width: 1.125rem;
    height: 1.125rem;
     display: block;
     float:left;
     margin-top: 1.25rem;
     background: url('../../imgs/oilCard/daijia/duigou.png') no-repeat;
     background-size: 100% 100%;
    }
.iActive{
    background: url('../../imgs/oilCard/daijia/duigou_on.png') no-repeat!important;
    background-size: 100% 100%!important;
}
.content .topM li .vouerch .vouerchDiv{
    width: 5.625rem;
    height: 4rem;
    background: url('../../imgs/oilCard/vouerchBg.png') no-repeat;
    background-size: 100% 100%;
}
.content .topM li .vouerch{float: left; margin-left: 0.2rem;}
.content .topM li .vouerch dl{text-align: center;}
.content .topM li .vouerch dt{text-align: center;color: #fff;font-size: 1.2rem;}
.content .topM li .vouerch dt span{font-size: 0.6rem;}
.content .topM li .vouerch dd{    
    text-align: center;
    line-height: 4px;
    color: #fff;
    font-size: 0.6rem;
}
.content .topM li .vouerch p{   
    text-align: center;
    font-size: 0.5rem;
    color: #13629F;
    margin-top: .5rem;
    border-top: 1px dashed #13629F;
    width: 80%;
    margin-left: 10%;
    padding: .1rem 0;}
.content .topM li .vouerchBuy{
    width: 2.5rem;
    height: 3.88rem;
    border: 1px solid #DFDFDF;
    border-left: none;
    float: left;
    color:#57acee;
}
.content .topM li .vouerchBuy span{
    font-size: 0.6rem;
    width: 70%;
    display: block;
    text-align: center;
    margin-left: 15%;
    margin-top: 0.5rem;
}
.content .topM li .vouerchBuy em{
   margin-left: 30%;
   font-size: 0.6rem;
   display: block;
   line-height: 0.5rem;
}
.buy{width: 100%;box-sizing: border-box;padding-bottom: 1.375rem;}
#buyNow{
    width: 16.625rem;
    height: 2.75rem;
    background: #57acee;
    margin: 0 auto;
    display: block;
    font-size: 1.125rem;
    color:#fff;
    border-radius:4px;
    margin-top: 1rem;
}
.bottomM{   background: #fff; padding: 1.25rem 1.25rem 0;width: 100%;box-sizing: border-box;}
.bottomM span{font-size: 1rem;}
.bottomM ol li{
    color: #727272;
    font-size: .75rem;
    text-indent: -1em;
    padding-left: 1em;
    line-height: 2em;
}