.header{
	position: relative;
	background: #fff;
	border-bottom: 1px solid #848484;
}
.header h1{
	font-size: 16px;
	line-height: 2.75rem;
	text-align: center;
} 
.back{
	position: absolute;
	left: 0;
	top: 0;
	width:15%;
	height:100%;
	background:url(../../imgs/login/back-icon.png) no-repeat center;
	background-size:20% ;
}
.back-home{
	position: absolute;
	right: 0;
	top: 0;
	width:15%;
	height:100%;
	background: url(../../imgs/index/home.png) no-repeat center;
	background-size:45% ;
}
.text{
	text-align: center;
	line-height: 2;
	font-size: 16px;
	color: #000;
	padding: 6rem 0;
	background: #fff;
}
.text i{
	display: block;
	width:5rem;
	height:5rem;
	margin: 1rem auto;
	background: url(../../imgs/repair/ok.png) no-repeat center;
	background-size:100% ;
}
.text span{
	display: block;
	background: #f5f4f9;
	color: #6ecd69;
	font-size: 12px;
	text-align: left;
	line-height:1.5 ;
	padding: 1rem;
}
/* 下一步 */
.next-btn{
	display: block;
	width:90%;
	height:2.6rem;
	line-height:2.6rem;
	text-align: center;
	background: #ff3d5d;
	color: #fff;
	border:1px solid #ff3d5d;
	border-radius: 5px;
	margin: 2rem auto 1rem auto;
	margin-top: 6.25rem;
}
