/* 表单 */
.tables{
	float: left;
	width: 90%;
	min-height:500px;
}
.tables>div{
	border-left: 1px solid #ccc;
}
.tables-top{
	padding-top: 20px;
    background: url(../../imgs/com/noise.white.png);
	border-bottom: 1px solid #ccc;
	min-height: 80px;
}
.tab-top{
	width: 90%;
    padding: 0 20px;
    margin-bottom: -1px;
}
.tab-top span{
	display: inline-block;
    padding: 10px 20px;
    background: #ccc;
    color: #fff;
    font-size: 14px;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
}
.tab-top span:hover{
    color: #319cff;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab-top span.on{
    color: #fc9338;
    background: #fff;
    border-bottom: 1px solid #fff;
}
.tab-top div{
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background: #fc9338;
	width: 143px;
	height:32px;
	line-height: 34px;
	text-align: center;
	margin-top: -5px;
	margin-left: 5px;
}
/* 列表 */
.tabels-main{
	padding: 20px 20px;
	min-height: 400px;
}
/* 搜索 */
.search-box{
	padding: 20px;
	border:1px solid #ccc;
}
.search-box label{
	padding-left: 10px;
}
.search-box .search-btn{
	display: inline-block;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    font-weight: bold;
    background:#f7f7f7 url(../../imgs/sprites.png) no-repeat -10px -15px;
    color: #666;
    padding: 0;
	margin-left: 10px;
}
.search-box .add-btn{
	display: inline-block;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    font-weight: bold;
    background:#f7f7f7;
    color: #666;
    padding: 0 10px;
	margin-left: 10px;
}
.search-box .shelves-btn {
	display: inline-block;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    font-weight: bold;
    color: #666;
    padding: 0;
	margin-left: 30px;
	
}
.search-box .search-btn span,.search-box .add-btn span,.search-box .shelves-btn span{
	padding: 5px 10px;
    margin-left: 25px;
    display: block;
    background: #f7f7f7;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.search-box .shelves-btn span{
	padding: 5px 25px;
	margin-left: 0;
}
.search-box input{
    padding:5px 10px;
    border: 1px solid #ccc;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0 10px;
}
.search-box select{
    width: 3rem;
    border: 1px solid #ccc;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
	margin: 0 10px;
	vertical-align: middle;
}
.tabels-main dl{
	border-bottom: 1px dashed #d2d2d2;
	padding-bottom:20px;
	margin-bottom: 20px;
}
.tabels-main dl dt{
	padding-bottom: 10px;
}
.tabels-main dl dt span{
	display: inline-block;
	border-bottom: 4px solid #fb9337;
	line-height: 40px;
	font-size: 20px;
	padding: 0 10px;
	
}
.tabels-main dl dd{
	padding: 10px 0;
}
.tabels-main dl dd label{
	display: inline-block;
	line-height: 32px;
	width:180px;
	text-align: right;
}
.tabels-main dl dd input{
	border:1px solid #dbdbdb;
	border-radius:3px;
	height:30px;
	width: 200px;
	margin-right: 10px;
	text-indent: 5px;
	background: #fff;
}
.action-btn{
	padding: 10px 15px;
	border:1px solid #ef811f;
	background: #fc9338;
	color:#fff;
	font-size:16px;
	border-radius: 3px;
	width: 150px;
	margin-left: 50px;
}
.tabels-main dl dd select{
	width:200px;
	margin-right: 10px;
}
.tabels-main dl dd select#typeName2,.tabels-main dl dd select#typeName3{
	display: none;
}
/* 切换列表 */
.tab-list {
	border-left: 1px solid #ddd;
}
.tab-list table{
	width: 100%;
	vertical-align: middle;
}
.tab-list thead th,.tab-list tbody td {
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-left: 0;
    text-align: center;
}
.tab-list thead tr th{
	text-align: center;
	background: #fcfcfc;
}
.tab-list thead tr th:nth-child(odd){
	background: #f7f7f7;
}
.tab-list thead tr th.bh,.tab-list thead tr th.cz{
	background: #fcfcfc;
}
.tab-list tbody{
	border-bottom:1px solid #ddd;
}
.tab-list tbody th{
	border-right:1px solid #ddd;
	line-height: 30px;
}
.tab-list tbody tr td:nth-child(even){
	background: #fcfcfc;
}
.tab-list tbody td{
	vertical-align: middle;
	line-height: 24px;
}
.tab-list tbody td a{
	color: #333;
	margin: 0 10px;
}
.tab-list tbody td a.operate{
	padding:5px 8px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 0 5px;
    background-color: #bababa;
    border-color: #bababa;
    color: #FFF;
}
.tab-list tbody td a.operate.actived{
	background-color: #23c6c8;
    border-color: #23c6c8;
}


/*弹窗*/
.tips-warp{display: none;}
.tips-warp .tips-box {
	width: 500px;
	margin-left: -250px;
	margin-top: -100px;
	top: 50%;
	z-index: 99;
	animation: none;
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
}
.tips-warp .tips-center,.tips-warp .tips-center-text {
	margin: 10px 0;
}
#product-list-pop .tips-center,#product-list-pop .tips-center-text {
	display: none;
}
#product-list-pop .tips-center .hideData,#product-list-pop .tips-center-text .hideData{
	display: none;
}
.tips-warp .tips-bg{
	z-index: 89;
}

.tips-center input{
	border: 1px solid #ccc;
	width: 190px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	/* text-align: center; */
	padding-left: 10px;
	margin: 0 10px;
}
.tips-center select{
	border: 1px solid #ccc;
	width: 200px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
}
.tips-center textarea{
	border: 1px solid #ccc;
	width: 200px;
	height: 100px;
	border-radius: 5px;
	line-height: 30px;
	resize: none;
}
.tips-center label{
	display: inline-block;
	width: 104px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	text-align: center;
}
.tips-center p ,.tips-center-text p{
	text-align: left;
	width: 80%;
	margin: 0 auto;
}
.tips-center p span,.tips-center-text p span {
	padding-left: 20px;
}
.tips-center .formTable {
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
