/* 表单 */
.tables{
	float: left;
	width: 90%;
	min-height:500px;
}
.tables>div{
	border-left: 1px solid #ccc;
}
.tables-top{
	padding-top: 20px;
    background: url(../../imgs/com/noise.white.png);
	border-bottom: 1px solid #ccc;
	min-height: 80px;
}
.tab-top{
	width: 90%;
    padding: 0 20px;
    margin-bottom: -1px;
}
/* 列表 */
.tabels-main{
	padding: 20px 20px;
	min-height: 400px;
}
.tabels-main .imgUploat a {
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #F0882C;
    background: #F0882C;
    color: #fff;
    padding: 3px 10px;
    line-height: 26px;
    border-radius: 5px;
}
.tabels-main .importUser_fail{
	float:right;
}
/* 搜索 */
.search-box{
	padding: 20px;
	border:1px solid #ccc;
}
.search-box button{
	display: inline-block;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    font-weight: bold;
    background:#f7f7f7 url(../../imgs/sprites.png) no-repeat -10px -15px;
    color: #666;
    padding: 0;
}
.search-box button span{
	padding: 5px 10px;
    margin-left: 25px;
    display: block;
    background: #f7f7f7;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.search-box input{
    padding:5px 10px;
    border: 1px solid #ccc;
    color: #333;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin-right: 20px;
}
/* 切换列表 */
.tab-list {
	border-left: 1px solid #ddd;
}
.tab-list table{
	width: 100%;
	vertical-align: middle;
}
.tab-list thead th,.tab-list tbody td {
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-left: 0;
    text-align: center;
}
.tab-list thead tr th{
	text-align: center;
	background: #fcfcfc;
}
.tab-list thead tr th:nth-child(odd){
	background: #f7f7f7;
}
.tab-list thead tr th.bh,.tab-list thead tr th.cz{
	background: #fcfcfc;
}
.tab-list tbody{
	border-bottom:1px solid #ddd;
}
.tab-list tbody th{
	border-right:1px solid #ddd;
	line-height: 30px;
}
.tab-list tbody tr td:nth-child(even){
	background: #fcfcfc;
}
.tab-list tbody td{
	vertical-align: middle;
	line-height: 24px;
}
.tab-list tbody td a{
	color: #333;
	margin: 0 10px;
}
.tab-list tbody td a:hover{
	color:#fc9338;
}
